/* Main Styles for the Game */

body {
    margin: 0;
    padding: 0;
    background-color: #493240;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form_word {
    height: 50%;
    width: 60%;
    background-color: #dd3e54;
    border-radius: 2vh;

}

#new_word {
    font-size: 4vh;
    width: 65%;
    border-radius: 1vh;
    background-color: #FFEFBA;
    color: #2c3e50;
    margin-top: 20vh;
}

#send_word {
    font-size: 4vh;
    width: 30%;
    border-radius: 1vh;
    background-color: #6be585;
    color: #2c3e50;
}

#inp {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.send_guess {
    width: 3vw;
    height: 8vh;
    border-radius: 1vh;
    background-color: #6be585;
    color: #2c3e50;
}

#game {
    height: 50%;
    width: 60%;
    background-color: #dd3e54;
    border-radius: 2vh;
}

#info {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vh;
}

#hint_word {
    letter-spacing: 2vh;
    font-size: 6vh;
}

#hint {
    text-align: center;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 20vh;
}

#guessing {
    display: flex;
    margin-left: 4%;
    width: 50%;
    height: 20vh;
    margin-top: 30vh;
    position: absolute;
}